
<div>
    <!--<form id="paypalForm" action="https://www.paypal.com/cgi-bin/webscr"  method="post">-->
        <form id="paypalForm" action="https://www.sandbox.paypal.com/cgi-bin/webscr" target="_blank"  method="post">
        <!-- <input name="cmd" type="hidden" value="_xclick"><br> -->
        <input name="cmd" type="hidden" value="_cart"><br>
        <input type="hidden" name="upload" value="1">
        <input class="form-control" name="currency_code" type="hidden" value="EUR"><br>
        <input class="form-control" name="lc" type="hidden" value="IT"><br>
        <!-- <input class="form-control" name="item_name" type="hidden" value="Atleti {{arrayIscritti.length}}"><br> -->
        <span ng-repeat="iscritto in arrayIscritti">
            <input class="form-control" type="hidden" name="item_name_{{$index+1}}" value="{{iscritto.name+'-'+iscritto.surname}}">
            <input class="form-control" type="hidden" name="amount_{{$index+1}}" value="{{iscritto.figmma}}">
        </span>        
        <!-- <input class="form-control" name="amount" type="hidden" value="{{sum()}}"><br> -->
        <input class="form-control" name="notify_url" type="hidden" value="http://backend.wazakids.it/api/ipn.php"><br>
        <input class="form-control" name="business" type="hidden" value="teamwaza@hotmail.it"><br>
        <input class="form-control" type="submit" name="submit" ng-click="save()" value="Pagamento iscrizione affiliati Figmma">
        <input class="form-control" type="hidden" name="guid" value="{{guid}}">
        <input name="custom" value="{{guid}}" type="hidden">
        <input class="form-control" TYPE="hidden" NAME="return" value="http://backend.wazakids.it/client/index.html?guid={{guid}}">
    </form>

    <!-- <div class="btn btn-primary" ng-click="save()"><img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_buynow_107x26.png" alt="Buy Now" /></div> -->
</div>
<!--<div>-->
    <!--<paypal-form iscritti="arrayIscritti" ></paypal-form>-->
<!--</div>-->


