

<div ng-repeat="iscritto in arrayIscritti track by $index">
    <p>Atleta numero {{$index}}</p>
    <input type="text" ng-model="iscritto.name">
    <input type="text" ng-model="iscritto.surname">
    <select ng-model="iscritto.gender">
        <option value="male">Maschio</option>
        <option value="female">Femmina</option>
    </select>
    <select ng-model="iscritto.figmma">
        <option value="10">Figmma</option>
        <option value="15">Non iscritto Figmma</option>
    </select>
    <input type="number" ng-model="iscritto.age" >
    <input type="number" ng-model="iscritto.weight" ng-change="getCategory(iscritto)">
    <input type="text" ng-model="iscritto.societa">
    <input type="text" ng-model="iscritto.mail">
</div>



