<form action="https://www.paypal.com/cgi-bin/webscr"  method="post">
    <input name="cmd" type="hidden" value="_xclick"><br>
    <input class="form-control" name="currency_code" type="hidden" value="EUR"><br>
    <input class="form-control" name="lc" type="hidden" value="IT"><br>
    <input class="form-control" name="item_name" type="hidden" value="Atleta figmma"><br>
    <span ng-repeat="iscritto in arrayIscritti">
        <input class="form-control" type="hidden" name="{{translateFigmma(iscritto.figmma)}}" value="{{iscritto.name+'-'+iscritto.surname}}">
    </span>
    <input class="form-control" name="amount" type="hidden" value="{{sum()}}"><br>
    <input class="form-control" name="notify_url" type="hidden" value="http://backend.wazakids.it/api/ipn.php"><br>
    <input class="form-control" name="business" type="hidden" value="teamwaza@hotmail.it"><br>
    <input class="form-control" type="submit" name="submit" value="Pagamento iscrizione affiliati Figmma">
    <input class="form-control" TYPE="hidden" NAME="return" value="http://backend.wazakids.it/client/index.html?guid={{guid}}">
</form>

<!-- <div class="btn btn-primary" ng-click="save()"><img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_buynow_107x26.png" alt="Buy Now" /></div> -->


